<% if pet_application.approved? %>
  <p>Approved!</p>
<% elsif pet_application.rejected? %>
    <p>Rejected!</p>
<% else %>
<%= render partial: "pet_approval", locals: {pet_application: pet_application, application_id: application_id} %>
<% end %>
