<% if pet_application.approved? %>
  <p>Approved!</p>
<% elsif pet_application.rejected? %>
    <p>Rejected!</p>
<% else %>
<%= render partial: "pet_approval", locals: {pet_application: pet_application, application_id: application_id} %>
<% end %>


<% if pet_application.pet.approved_application? %>
<p>Pet has been approved on another application.</p>
<% else %>
<%= button_to("Approve Pet", "/admin/applications/#{application_id}", method: :patch, params: {ap_id: pet_application.id, status: :approved}) %>
<% end %>
<%= button_to("Reject Pet", "/admin/applications/#{application_id}", method: :patch, params: {ap_id: pet_application.id, status: :rejected}) %>
