<h1><%= @application.name %></h1>
<h3>Status</h3> <%= @application.status %><br>
<h3>Address:</h3> <%= @application.street_address %><br>
<h3>Adopt Request Description: </h3> <%= @application.description %><br>
