<h3>Statistics:</h3>
<p>Average Age of All Adoptable Pets: <%= @shelter.average_age %></p>
<p>Count of Adoptable Pets: <%= @shelter.adopted_pet_count %>
<p>Count of Adopted Pets: <%= @shelter.adopted_pet_count %>
