<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
<section id="shelter-<%=shelter.id%>">
    <p><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %></p>
  </section>
<% end %> <br>

<section id="pending-apps">
  <h3>Shelters with Pending Applications</h3>
  <% @shelters_with_pending_apps.each do |shelter| %>
    <%= shelter.name %></br>
  <% end %>
</section>
